<mat-dialog-content>
    <mat-toolbar mat-dialog-title class="toolbarDialog">
        <mat-toolbar-row>
            <strong class="spanTop">Atualização de dados:</strong>
            <span class="spacer"></span>
                <img (click)="closeDialog()" class="closeRef" src="../../../assets/close.svg">
            </mat-toolbar-row>
    </mat-toolbar>
    <form class="formProfessor" [formGroup]="formularioDados" (ngSubmit)="changeData()">
        <p >
            <mat-form-field >
                <input class="inputForms" formControlName="nome" type="text" matInput placeholder="Insira o novo nome...">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input class="inputForms" formControlName="grandeArea" type="text" matInput placeholder="Insira o novo campo de atuação...">
            </mat-form-field>
        </p>
        <mat-dialog-actions>
            <span class="spacer"></span>
            <button class="changeDataButton" mat-button><strong>Mudar dados</strong></button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>
