section{
    margin-bottom:0%;
}
.container{
    margin-top:2%;
}
.boxInfoLeft{
    border:0.5px solid gainsboro;
    background-color:#113d63;
    
}
.imgPerfilUser{
    max-width: 100%;
    height: auto;
}
.changeData{
    width: 8%;
    height: 8%;
    display: block;
    margin:0 auto;
    margin-bottom:2%;

}
.labelInfoUser{
    color:gainsboro;
    font-size:1.1em;
}
.boxUser{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    text-align: center;
}
mat-cell,.mat-cell{
    min-height:auto; 
    padding: 1%;
}
.parent{
    position: relative;
    top: 0;
    left: 0;
}
.arrowUpdate{
    position: absolute;
    width:10%;
    height: 10%;
    top:2%;
    right:2%;
    color:transparent
}
.labelUpdate{
    font: 1.1em;
    font-weight: bold;
    color:#DCDCDC;
    margin-right: 2%;
}
.inputUpdate{
    width:200px;
    color:#DCDCDC;
    background-color:#113d63;
    border:1px solid #DCDCDC;
    border-radius: 20px;
    outline: none;
    padding-left:2%;
}
.divUpdate{
    margin-top:4%;
    margin-bottom:4%;
}
::placeholder { 
    color:  #DCDCDC;
}
  
:-ms-input-placeholder { 
    color:  #DCDCDC;;
}
  
::-ms-input-placeholder { 
    color: #DCDCDC;
}
.selectCurso{
    width:60%;
    margin-left:1rem;
    background: #113d63;
    color:white;
    border:1px solid white;
}
input[type=file]::-webkit-file-upload-button {
    background-color:#113d63;
    color:white;
    border:none;
    border-radius:6px;
}
input[type=file]{
    color:#113d63;
    border:1px solid #113d63;
    border-radius:8px;
    width:80%;
    border:1px solid #DCDCDC
}
#buttonForm{
    margin-left: 0 auto!important;
    margin-top: 0 auto!important;
    margin-right: 0 auto!important;
    margin-bottom:4%;
    color:#DCDCDC;
    background-color: #113d63;
    border:1px solid #DCDCDC;
    border-radius:5px;
}
#buttonForm:hover{
    color:#113d63;
    background-color:#DCDCDC;
    border:1px solid #113d63;
    transition:1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
}
.tableIndexMinus{
    z-index:-10;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
}
.tableIndexPlus{
    z-index:10;
    transition:1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
}
/*----------------Flip card--------------------*/
.card {
    background-color: transparent;
    perspective: 1000px;
    
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flipBoxRight{
        transform: translateX(100%)!important;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -o-transition: 1s;
        opacity:1;
        
    }
  
  .flipBoxLeft{
        transform: translateX(-100%)!important;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -o-transition: 1s;
        opacity:0;
    }
  
  .card-left, .card-right {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }  
  .card-right {
    transform: rotateY(180deg);
  }
  .flipArrowRight{
    transform: rotateY(180deg);
    transition:1s;
    -webkit-transition:1s;;
    -o-transition:1s;
    -moz-transition:1s;
  }
  .flipArrowLeft{
    transition:1s;
     -webkit-transition:1s;;
    -o-transition:1s;
    -moz-transition:1s;
  }

/*----------------Tabela--------------------*/
.tabPerfil{
    width:100% !important;
    height: 520px;
    max-height: 520px;
    overflow-y:scroll;
    box-shadow:1px 1px 4px 4px lightgrey;
}
.mat-column-ementa{
    width: 40%;
    padding-left:4%;
}
.mat-column-operacoes{
    width: 15%;
    padding-left:2%;
}

.buttonOp{
    background: none;
    margin-left: 0%;
    padding:0%;
    width:10%;
    display:inline-block;
   
}
.imgOp{
    width:45%;
    height:45%;
}
/*----------------Footer----------------------*/
.footer{
    background-color:#113d63;
    margin-top:4%;
}
/*----------------Responsividade--------------------*/
@media (max-width: 700px){
   .boxInfoLeft{
       margin-bottom:5%;
       margin-left:0%;
       float:right;
   }
    .tabPerfil{
       margin-bottom:5%;
   }
   .card-left{
        position: sticky;
   }
    .flipBoxRight,.flipBoxLeft{
        top:8%;
    }
   .flipBoxRight{
        transform: translateX(-10%)!important;
    }
     .flipBoxRight{
        transform: translateX(0%)!important;
    }
}
/*----------------------------------------------------------*/
.boxLoader{
    width: 100%;
    height:100%;
    transform: translateY(25%);
}