#boxProvas{
    width: 90%;
    height: 90%;
    margin-left:5%;
    margin-top:2%;
}
@media (max-width: 800px){
    #boxProvas{
        width: 95%;
        height: 100%;
        margin-left:2%;
        margin-top:4%;
    }
}
/*----------------------------------------------------------*/
.boxLoader{
    width: 100%;
    height:100%;
    transform: translateY(25%);
}