.spacer {
    flex: 1 1 auto;
}
.toolbarDialog{
    background-color:#113d63;

}
.closeRef{
    width: 4%;
}
.mat-dialog-content {
    padding:0px;
    margin-top:-5%;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
    overflow-y:scroll;
}
#labelCad{
    color:white;
    font-size:1.2em
}
.mat-form-field{
    width: 98%;
}
.inputForms{
    margin-left:6%;   
}
#buttonCad{
    display: block;
    margin-left: auto;
    margin-right: auto;
    color:#113d63;
    font-size:1.2em;
    margin-top:1rem;
    border:1px solid #113d63;
}
#buttonCad:hover{
    transition:1s;
    -o-transition:1s;
    -moz-transition:1s;
    -webkit-transition:1s;
    color:gainsboro;
    background-color:#113d63
}
input[type=file]::-webkit-file-upload-button {
    background-color:#113d63;
    color:white;
    border:none;
    border-radius:6px;
}
input[type=file]{
    color:#113d63;
    border:1px solid #113d63;
    border-radius:8px;
    width:94%;
}
@media only screen and (max-width: 700px) {
    .mat-dialog-content{
        margin-top:-10%;
    }
    #labelCad{
        font-size:1em;
    }
}
/*-----------------Foto-------------------*/
.boxFoto{
    text-align: center;
    justify-content: center;
    margin:0 auto!important;
}
.foto{
    width:60%;
    height: 50%;
    object-fit: fill;
    border:1px solid #113d63;
    border-radius:10px;
}